{% extends 'ProjectBundleAdminBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    &nbsp;
</div>

<div class="span12">
    <div class="row well span8" style="margin-left: 150px;">
        <form class="form-horizontal" method="POST" name="frmSignupNGO">
            <fieldset>
                <div id="legend" class="">
                    <legend class="">এন. জি. ও নিবন্ধনপত্র</legend>
                </div>
                <div class="control-group">

                    <!-- Text input-->
                    <label class="control-label" for="input01">এন. জি. ও নাম</label>
                    <div class="controls">
                        <input type="text" placeholder="placeholder" name="ngo_name" class="input-xlarge">
                    </div>
                </div>



                <div class="control-group">

                    <!-- Textarea -->
                    <label class="control-label">এন. জি. ও. সমন্ধে বিস্তারিত</label>
                    <div class="controls">
                        <div class="textarea">
                            <textarea type="" class="spna4" class="ngo_details"> </textarea>
                        </div>
                    </div>
                </div>

                <div class="control-group">

                    <!-- Select Multiple -->
                    <label class="control-label">এন. জি. ও. আওতাধীন ক্ষেত্রসমুহ</label>
                    <div class="controls">
                        <select class="input-xlarge" multiple="multiple" name="ngo_categories">
                            <option>Sanitation</option>
                            <option>Water</option>
                            <option>Food</option>
                            <option>Birth Control</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">

                    <!-- Text input-->
                    <label class="control-label" for="input01">User name</label>
                    <div class="controls">
                        <input type="text" placeholder="placeholder" class="input-large" name="ngo_username">

                    </div>
                </div>

                <div class="control-group">

                    <!-- Text input-->
                    <label class="control-label" for="input01">Password</label>
                    <div class="controls">
                        <input type="password" placeholder="placeholder" class="input-large" name="ngo_password">

                    </div>
                </div>

                <div class="control-group">
                    <!-- Form Actions -->
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

{% endblock %}